{% extends 'admin/admin_navbar.html.twig' %}

{% block navManageTests %}
    active
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h4>Choose a category</h4>
        <form method="get" action="{{ path('admin_manage_tests') }}">
            <select name="category" class="form-control">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
            <select name="is_checked" class="form-control">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
            <div class="divset">
                <input class="btn btn-outline-info" value="Search" type="submit">
            </div>
        </form>

        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Is checked</th>
                    <th scope="col">Preview</th>
                    <th scope="col">Remove</th>
                    <th scope="col">Change isChecked status</th>
                </tr>
                </thead>
                <tbody>
                {% if tests is defined %}
                    {% for test in tests %}
                        <tr>
                            <th scope="row"><a
                                        href="{{ path('admin_show_test_detail', {'testId': test.id}) }}">{{ test.id }}</a>
                            </th>
                            <td>{{ test.name }}</td>
                            <td>
                                {{ test.isChecked ? "Yes" : "No"}}
                            </td>
                            <td><a href="{{ path('admin_preview_test', {'testId': test.id}) }}" class="btn btn-outline-success">Preview</a></td>
                            <td>
                                <a href="{{ path('admin_delete_test', {'testId': test.id}) }}" class="btn btn-outline-danger" >
                                    <img src="{{ asset('public/images/admin/add_test/trashcan.png') }}" width="32px" height="32px" alt="remove">
                                </a>
                            </td>
                            <td>
                                <div class="divset">
                                    {% if test.isChecked %}
                                    <a class="btn btn-outline-warning" href="{{ path('admin_update_status', {'testId': test.id, 'value': '0'}) }}">
                                        Set false
                                    </a>
                                    {% else %}
                                    <a class="btn btn-outline-success" href="{{ path('admin_update_status', {'testId': test.id, 'value': '1'}) }}">
                                        Set true
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <div class="pagination">
                    {{ knp_pagination_render(tests, 'others/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
