<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="{% block metaTitle %}{% endblock %}">
        <meta name="description" content="{% block metaDesc %}{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>
            {% block title %}
                Hundreds of tests on verytests.com
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('public/libs/css/animate.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/libs/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/includes/css/main/specs.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script rel="script" src="{{ asset('public/libs/js/jquery.js') }}"></script>
            <script rel="script" src="{{ asset('public/libs/js/jquery-ui.min.js') }}"></script>
            <script rel="script" src="{{ asset('public/libs/js/wow.min.js') }}"></script>
            <script> new WOW().init(); </script>
            <script src="{{ asset('public/libs/js/bootstrap.min.js') }}"></script>
            <script rel="script" src="{{ asset('public/libs/js/popper.min.js') }}" ></script>
        {% endblock %}

    </head>

    <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
        {% block layout %}

            {% block navbar %}

            {% endblock %}

            {% block body %}

            {% endblock %}

        {% endblock %}

    </body>

</html>
