{% extends 'public_header.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navCat" class="display-5 text-muted">
            Categories
        </div>
        <button id="navTogglerBtn" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-column">
                <li class="nav-item {% block navMain %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('site_start_page') }}">
                            <img src="{{ asset('public/extensions/icons/essential/alarm-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Main
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navAll %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_all') }}">
                            <img src="{{ asset('public/extensions/icons/essential/star-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            All tests
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navPopular %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_popular') }}">
                            <img src="{{ asset('public/extensions/icons/essential/users-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Popular
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navFunny %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_funny') }}">
                            <img src="{{ asset('public/extensions/icons/essential/photos.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Funny
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navForKids %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_forkids') }}">
                            <img src="{{ asset('public/extensions/icons/essential/id-card-4.png') }}" width="30" height="30" class="align-baseline" alt="">
                            For kids
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navPsychology %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_psychology') }}">
                            <img src="{{ asset('public/extensions/icons/essential/network.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Psychology
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navLove %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_love') }}">
                            <img src="{{ asset('public/extensions/icons/essential/like-2.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Love tests
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navOnlyForMen %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_only_for_men') }}">
                            <img src="{{ asset('public/extensions/icons/essential/user.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Only for men
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navOnlyForWomen %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_only_for_women') }}">
                            <img src="{{ asset('public/extensions/icons/essential/user-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Only for women
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navPersonality %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_personality') }}">
                            <img src="{{ asset('public/extensions/icons/essential/hourglass-3.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Personality
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navIq %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_iq') }}">
                            <img src="{{ asset('public/extensions/icons/essential/idea.png') }}" width="30" height="30" class="align-baseline" alt="">
                            IQ tests
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navActor %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_actor') }}">
                            <img src="{{ asset('public/extensions/icons/essential/video-camera-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Actor
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navBooks %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_books') }}">
                            <img src="{{ asset('public/extensions/icons/essential/tabs-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Books
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navCareer %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_career') }}">
                            <img src="{{ asset('public/extensions/icons/essential/id-card.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Career / Job
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navEq %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_eq') }}">
                            <img src="{{ asset('public/extensions/icons/essential/diamond.png') }}" width="30" height="30" class="align-baseline" alt="">
                            EQ tests
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navGame %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_game') }}">
                            <img src="{{ asset('public/extensions/icons/essential/layers.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Game
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navHealth %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_health') }}">
                            <img src="{{ asset('public/extensions/icons/essential/dislike-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Health
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navKnowledge %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_knowledge') }}">
                            <img src="{{ asset('public/extensions/icons/essential/diploma.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Knowledge
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navLanguage %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_language') }}">
                            <img src="{{ asset('public/extensions/icons/essential/worldwide.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Language
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navMovie %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_movie') }}">
                            <img src="{{ asset('public/extensions/icons/essential/film.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Movie
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navMusic %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_music') }}">
                            <img src="{{ asset('public/extensions/icons/essential/microphone-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Music
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navPurity %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_purity') }}">
                            <img src="{{ asset('public/extensions/icons/essential/pin.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Purity tests
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navSport %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_sport') }}">
                            <img src="{{ asset('public/extensions/icons/essential/like.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Sport
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navThink %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_think') }}">
                            <img src="{{ asset('public/extensions/icons/essential/broken-link.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Think / memory
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navTv %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_tv') }}">
                            <img src="{{ asset('public/extensions/icons/essential/television-1.png') }}" width="30" height="30" class="align-baseline" alt="">
                            TV show
                        </a>
                    </div>
                </li>
                <li class="nav-item {% block navYoutube %}{% endblock %}">
                    <div class="display-6">
                        <a class="nav-link" href="{{ path('categories_youtube') }}">
                            <img src="{{ asset('public/extensions/icons/essential/internet.png') }}" width="30" height="30" class="align-baseline" alt="">
                            Youtube
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            if($(window).width() > 950) {
                $('#navCat').hide();
            }

            if($(window).width() < 950) {
                let cloned = $('#publicNav').clone();
                $('#publicNav').remove();
                $('#responsiveNavHolder').append(cloned);
                $('#publicNav').removeClass('col-3').addClass('col-12');
                $('#publicBody').removeClass('col-9').addClass('col-12').css('margin-top', '1em');
            }
        })
    </script>
{% endblock %}
