{% extends 'publicHeader.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button id="navTogglerBtn" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-column">
                <li class="nav-item {% block navMain %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('site_start_page') }}">Main</a>
                    </div>
                </li>
                <li class="nav-item {% block navAll %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_all') }}">All tests</a>
                    </div>
                </li>
                <li class="nav-item {% block navPopular %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_popular') }}">Popular</a>
                    </div>
                </li>
                <li class="nav-item {% block navFunny %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_funny') }}">Funny</a>
                    </div>
                </li>
                <li class="nav-item {% block navForKids %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_forkids') }}">For kids</a>
                    </div>
                </li>
                <li class="nav-item {% block navPsychology %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_psychology') }}">Psychology</a>
                    </div>
                </li>
                <li class="nav-item {% block navLove %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_love') }}">Love tests</a>
                    </div>
                </li>
                <li class="nav-item {% block navOnlyForMen %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_only_for_men') }}">Only for men</a>
                    </div>
                </li>
                <li class="nav-item {% block navOnlyForWomen %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_only_for_women') }}">Only for women</a>
                    </div>
                </li>
                <li class="nav-item {% block navPersonality %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_personality') }}">Personality</a>
                    </div>
                </li>
                <li class="nav-item {% block navIq %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_iq') }}">IQ tests</a>
                    </div>
                </li>
                <li class="nav-item {% block navActor %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_actor') }}">Actor</a>
                    </div>
                </li>
                <li class="nav-item {% block navBooks %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_books') }}">Books</a>
                    </div>
                </li>
                <li class="nav-item {% block navCareer %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_career') }}">Career / Job</a>
                    </div>
                </li>
                <li class="nav-item {% block navEq %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_eq') }}">EQ tests</a>
                    </div>
                </li>
                <li class="nav-item {% block navGame %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_game') }}">Game</a>
                    </div>
                </li>
                <li class="nav-item {% block navHealth %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_health') }}">Health</a>
                    </div>
                </li>
                <li class="nav-item {% block navKnowledge %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_knowledge') }}">Knowledge</a>
                    </div>
                </li>
                <li class="nav-item {% block navLanguage %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_language') }}">Language</a>
                    </div>
                </li>
                <li class="nav-item {% block navMovie %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_movie') }}">Movie</a>
                    </div>
                </li>
                <li class="nav-item {% block navMusic %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_music') }}">Music</a>
                    </div>
                </li>
                <li class="nav-item {% block navPurity %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_purity') }}">Purity tests</a>
                    </div>
                </li>
                <li class="nav-item {% block navSport %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_sport') }}">Sport</a>
                    </div>
                </li>
                <li class="nav-item {% block navThink %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_think') }}">Think / memory</a>
                    </div>
                </li>
                <li class="nav-item {% block navTv %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_tv') }}">TV show</a>
                    </div>
                </li>
                <li class="nav-item {% block navYoutube %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('categories_youtube') }}">Youtube</a>
                    </div>
                </li>
                <li class="dropdown-divider"></li>
            </ul>
        </div>
    </nav>
{% endblock %}
