{% extends 'privateLayout.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button id="navTogglerBtn" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-column">
                <li class="nav-item {% block navMain %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_start_page') }}">Main</a>
                    </div>
                </li>
                <li class="nav-item {% block navLogs %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_logs') }}">Logs</a>
                    </div>
                </li>
                <li class="nav-item {% block navAddTest %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_add_test') }}">Add test</a>
                    </div>
                </li>
                <li class="nav-item {% block navParseTest %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_test_parser') }}">Parse test</a>
                    </div>
                </li>
                <li class="nav-item {% block navParseCategory %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_category_parser') }}">Parse category</a>
                    </div>
                </li>
                <li class="nav-item {% block navControlAdmins %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="">Manage Admins</a>
                    </div>
                </li>
                <li class="nav-item {% block navManageTests %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_manage_tests') }}">Manage Tests</a>
                    </div>
                </li>
                <li class="nav-item {% block navControlUsers %}{% endblock %}">
                    <div class="display-5">
                        <a class="nav-link" href="">Manage Users</a>
                    </div>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <div class="display-5">
                        <a class="nav-link" href="/">Back to the site</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="display-5">
                        <a class="nav-link" href="{{ path('admin_logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
