{% extends 'Site/defaultImgSrc.html.twig' %}

{% block navForKids %}active{% endblock %}

{% block title %} For kids' tests on verytests.com {% endblock %}

{% block searchForm %}{{ path('categories_for_kids_search') }}{% endblock %}

{% block searchNav %}
    {% if keywords is defined %}
        {% for keyword in keywords %}
            <a href="{{ path('categories_for_kids_search', {'q': keyword}) }}" class="btn btn-outline-success searchTag fatFont">{{ keyword|capitalize }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block subCategories %}
    {% if subCategories is defined %}
        {% for sub in subCategories %}
            <a href="{{ path('categories_for_kids_sub', {'id': sub.id}) }}" class="btn btn-outline-primary subCategory">{{ sub.category }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
