{% extends 'publicNavbar.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid text-center ">
        <div class="container">
            <h1 class="display-4">TOP-3 of Today</h1>
        </div>
    </div>
    <div class="container-fluid divset">
        <div class="row justify-content-center">
            {% if topStatistic.day is not empty %}
                {% for testDay in topStatistic.day %}
                    <div class="card" style="width: 18rem; margin-left: 3%; margin-top: 3%">
                        <img src="
            {% if testDay.imageUrl != '' %}
                {{ testDay.imageUrl }}
            {% else %}
            {% block imgSrcDay %}{% endblock %}
            {% endif %}
            " class="card-img-top" alt="img" style="max-height: 400px">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ testDay.name }}</h5>
                            <p class="card-text">{{ testDay.shortDescription }}</p>
                            <a href="{{ path('test_pass', { 'name': testDay.urlName}) }}" class="btn btn-outline-primary">Pass the
                                test!</a>
                            <div class="divset">
                                <button class="btn btn-sm btn-outline-info saveBtn" data-id="{{ testDay.id }}"> Save </button>
                            </div>
                        </div>
                        <div class="card-footer">
                <span class="text-muted">
                    Created: {{ testDay.creationDate|date('Y-m-d | H:m:s') }}
                </span>
                            <div>
                              <span class="text-muted">
                    Passed: <span class="badge badge-success">{{ testDay.passedCount }}</span> times
                        </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="display-4">Unfortunately no tests :(</h1>
            {% endif %}
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid  text-center jumb">
        <div class="container">
            <h1 class="display-4">TOP-3 of Week</h1>
        </div>
    </div>
    <div class="container-fluid divset">
        <div class="row justify-content-center">
            {% if topStatistic.week is not empty %}
                {% for testWeek in topStatistic.week %}
                    <div class="card" style="width: 18rem; margin-left: 3%; margin-top: 3%">
                        <img src="
            {% if testWeek.imageUrl != '' %}
                {{ testWeek.imageUrl }}
            {% else %}
            {% block imgSrcWeek %}{% endblock %}
            {% endif %}
            " class="card-img-top" alt="img" style="max-height: 400px">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ testWeek.name }}</h5>
                            <p class="card-text">{{ testWeek.shortDescription }}</p>
                            <a href="{{ path('test_pass', { 'name': testWeek.urlName}) }}" class="btn btn-outline-primary">Pass the
                                test!</a>
                            <div class="divset">
                                <button class="btn btn-sm btn-outline-info saveBtn" data-id="{{ testWeek.id }}"> Save </button>
                            </div>
                        </div>
                        <div class="card-footer">
                <span class="text-muted">
                    Created: {{ testWeek.creationDate|date('Y-m-d | H:m:s') }}
                </span>
                            <div>
                              <span class="text-muted">
                    Passed: <span class="badge badge-success">{{ testWeek.passedCount }}</span> times
                        </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="display-4">Unfortunately no tests :(</h1>
            {% endif %}
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid  text-center jumb">
        <div class="container">
            <h1 class="display-4">TOP-3 of Month</h1>
        </div>
    </div>
    <div class="container-fluid divset">
        <div class="row justify-content-center">
            {% if topStatistic.month is not empty %}
                {% for testMonth in topStatistic.month %}
                    <div class="card" style="width: 18rem; margin-left: 3%; margin-top: 3%">
                        <img src="
            {% if testMonth.imageUrl != '' %}
                {{ testMonth.imageUrl }}
            {% else %}
            {% block imgSrcMonth %}{% endblock %}
            {% endif %}
            " class="card-img-top" alt="img" style="max-height: 400px">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ testMonth.name }}</h5>
                            <p class="card-text">{{ testMonth.shortDescription }}</p>
                            <a href="{{ path('test_pass', { 'name': testMonth.urlName}) }}" class="btn btn-outline-primary">Pass the
                                test!</a>
                            <div class="divset">
                                <button class="btn btn-sm btn-outline-info saveBtn" data-id="{{ testMonth.id }}"> Save </button>
                            </div>
                        </div>
                        <div class="card-footer">
                <span class="text-muted">
                    Created: {{ testMonth.creationDate|date('Y-m-d | H:m:s') }}
                </span>
                            <div>
                              <span class="text-muted">
                    Passed: <span class="badge badge-success">{{ testMonth.passedCount }}</span> times
                        </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="display-4">Unfortunately no tests :(</h1>
            {% endif %}
        </div>
    </div>

    {% if app.user.getId is defined %}
        <script rel="script" src="{{ asset('public/includes/js/saveTest/saveTest.js') }}"></script>
        <script rel="script" src="{{ asset('public/includes/js/saveTest/getSavedTests.js') }}"></script>
    {% else %}
        <script rel="script" src="{{ asset('public/includes/js/saveTest/saveTestNonAuth.js') }}"></script>
    {% endif %}

{% endblock %}
