{% extends 'Admin/adminNavbar.html.twig' %}

{% block navParseTest %}
    active
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="card-header bg-dark text-center text-white">
        <h1>Enter a link</h1>
    </div>

    <div class="container divset text-center">
        <form method="post" action="{{ path('admin_test_parser_action') }}">
            <div class="divset">
                <input class="form-control" type="text" name="link">
            </div>
            <div class="divset">
                <select name="category" class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="divset">
                <input class="btn btn-outline-success" value="Submit" type="submit">
            </div>
        </form>
        <form method="post" action="{{ path('admin_test_parser_from_db_action') }}">
            <div class="divset">
                <select name="category" class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="divset">
            <input type="text" name="amount" class="form-control" placeholder="Amount">
            </div>
            <div class="divset">
                <input class="btn btn-outline-success" value="Submit" type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
