{% block test_item_block %}
    <div class="card" style="width: 18rem; margin-left: 3%; margin-top: 3%">
        <img src="
            {% if test.imageUrl != '' %}
                {{ test.imageUrl }}
            {% else %}

            {% embed 'site/test_item/default_prev_src.html.twig' %}

            {% endembed %}

            {% endif %}
            " class="card-img-top" alt="img" style="max-height: 350px">
        <div class="card-body text-center">
            <h5 class="card-title">{{ test.name }}</h5>
            <p class="card-text">{{ test.shortDescription }}</p>
            <a href="{{ path('test_pass', { 'name': test.urlName}) }}" class="btn btn-outline-primary">Pass
                the
                test!</a>
            <div class="divset">
                <button class="btn btn-sm btn-outline-info saveBtn" data-id="{{ test.id }}"> Save</button>
            </div>
        </div>
        <div class="card-footer">
                <span class="text-muted">
                    Created: {{ test.creationDate|date('Y-m-d | H:m:s') }}
                </span>
            <div>
                              <span class="text-muted">
                    Passed: <span class="badge badge-success">{{ test.passedCount }}</span> times
                        </span>
            </div>
        </div>
    </div>
{% endblock %}