{% extends 'Admin/adminNavbar.html.twig' %}

{% block navAddTest %}
    active
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-body">
                    <div class="divset">
                        <div class="alert alert-dark">
                            Header
                        </div>
                        <div>
                            <input class="form-control" placeholder="Header" id="testName">
                        </div>
                    </div>
                    <div class="divset">
                        <div class="alert alert-dark">
                            Description
                        </div>
                        <div>
                            <input class="form-control" placeholder="Description" id="testDescription">
                        </div>
                    </div>
                    <div class="divset">
                        <div class="alert alert-dark">
                            Main image
                        </div>
                        <div>
                            <input class="form-control" placeholder="Image url" id="testImage">
                        </div>
                    </div>
                    <div class="divset">
                        Choose a category
                        <select class="form-control" id="category">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="divset" id="questions">

                        <div class="divset" id="question1">
                            <div class="form-group">
                                <div class="form-row align-items-center">
                                    <div class="col-10">

                                        <div id="questionNum1" class="alert alert-dark">Question 1</div>
                                        <input class="form-control" placeholder="Question 1" id="questionInp1">
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-info" data-bind="addQuestion" data-value="1" data-counter="1">
                                            <img src="{{ asset('public/images/admin/addTest/plus.png') }}" width="32px" height="32px" alt="Add">
                                        </button>

                                        <button class="btn btn-outline-danger" data-bind="removeQuestion" data-value="1" data-counter="1">
                                            <img src="{{ asset('public/images/admin/addTest/trashcan.png') }}" width="32px" height="32px" alt="Remove">
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="divset" id="questionAnswers1_1">
                                <div class="form-group">
                                    <div class="form-row align-items-center">

                                        <div class="col-7">
                                            <input class="form-control" placeholder="Answer 1" id="questionInpAns1_1">
                                        </div>
                                        <div class="col-3">
                                            <input class="form-control" placeholder="Value" id="questionInpAnsVal1_1">
                                        </div>

                                        <div class="col-2">

                                            <button class="btn btn-light" data-bind="addAnswer" data-value="1" data-counter="1" data-content="1">
                                                <img src="{{ asset('public/images/admin/addTest/plus.png') }}" width="32px" height="32px" alt="Add">
                                            </button>

                                            <button class="btn btn-light" data-bind="removeAnswer" data-value="1" data-content="1">
                                                <img src="{{ asset('public/images/admin/addTest/trashcan.png') }}" width="32px" height="32px" alt="Remove">
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divset" id="testResults">
                        <div class="alert alert-dark"><h3>Results</h3></div>
                            <div class="form-group" id="testResult1">
                                <div class="form-row align-items-center">

                                    <div class="col-4">
                                        <input class="form-control" placeholder="Result 1" id="resultInp1">
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" placeholder="Value" id="resultInpVal1">
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control" placeholder="Image url" id="resultImage1">
                                    </div>
                                    <div class="col-2">

                                        <button class="btn btn-light" data-bind="addResult" data-value="1" data-counter="1">
                                            <img src="{{ asset('public/images/admin/addTest/plus.png') }}" width="32px" height="32px" alt="Add">
                                        </button>

                                        <button class="btn btn-light" data-bind="removeResult" data-value="1" data-counter="1">
                                            <img src="{{ asset('public/images/admin/addTest/trashcan.png') }}" width="32px" height="32px" alt="Remove">
                                        </button>

                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="card-footer">
                <div class="alert alert-dark">Create the test</div>
                <button class="btn btn-lg btn-outline-success" id="btnCreate">Create</button>
            </div>
        </div>
    </div>

    <div class="divset" id="question" style="display: none">
        <div class="form-group">
            <div class="form-row align-items-center">
                <div class="col-10">

                    <div id="questionNum" class="alert alert-dark">Question</div>
                    <input class="form-control" placeholder="Question" id="questionInp">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-info" data-bind="addQuestion" data-value="" data-counter="">
                        <img src="{{ asset('images/admin/addTest/plus.png') }}" width="32px" height="32px" alt="Add">
                    </button>

                    <button class="btn btn-outline-danger" data-bind="removeQuestion" data-value="" data-counter="">
                        <img src="{{ asset('images/admin/addTest/trashcan.png') }}" width="32px" height="32px" alt="Remove">
                    </button>
                </div>
            </div>
        </div>

        <div class="divset" id="questionAnswers">
            <div class="form-group">
                <div class="form-row align-items-center">

                    <div class="col-7">
                        <input class="form-control" placeholder="Answer" id="questionInpAns">
                    </div>
                    <div class="col-3">
                        <input class="form-control" placeholder="Value" id="questionInpAnsVal">
                    </div>

                    <div class="col-2">

                        <button class="btn btn-light" data-bind="addAnswer" data-value="" data-counter="">
                            <img src="{{ asset('public/images/admin/addTest/plus.png') }}" width="32px" height="32px" alt="Add">
                        </button>

                        <button class="btn btn-light" data-bind="removeAnswer" data-value="">
                            <img src="{{ asset('public/images/admin/addTest/trashcan.png') }}" width="32px" height="32px" alt="Remove">
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" id="testResult" style="display: none">
        <div class="form-row align-items-center">

            <div class="col-4">
                <input class="form-control" placeholder="Result " id="resultInp">
            </div>
            <div class="col-3">
                <input class="form-control" placeholder="Value" id="resultInpVal">
            </div>
            <div class="col-3">
                <input class="form-control" placeholder="Image url" id="resultImage">
            </div>

            <div class="col-2">

                <button class="btn btn-light" data-bind="addResult" data-value="" data-counter="">
                    <img src="{{ asset('public/images/admin/addTest/plus.png') }}" width="32px" height="32px" alt="Add">
                </button>

                <button class="btn btn-light" data-bind="removeResult" data-value="" data-counter="">
                    <img src="{{ asset('public/images/admin/addTest/trashcan.png') }}" width="32px" height="32px" alt="Remove">
                </button>

            </div>
        </div>
    </div>

    <script rel="script" src="{{ asset('public/includes/js/admin/addTest/addAnswer.js') }}"></script>
    <script rel="script" src="{{ asset('public/includes/js/admin/addTest/addQuestion.js') }}"></script>
    <script rel="script" src="{{ asset('public/includes/js/admin/addTest/addResult.js') }}"></script>
    <script rel="script" src="{{ asset('public/includes/js/admin/addTest/formData.js') }}"></script>

{% endblock %}
